
.container {
    position: relative;
    width: 1340px;
    height: 500px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 50px;
    height: 45px;
}

.cabecalho h3 {
  margin-top: -300px;
  margin-left: 100px;
  color: #d2c661;
  font-size: 20px;
}

.cabecalho h1 {
  margin-top: 10px;
  margin-left: 100px;
  color: #fff;
  font-size: 45px;
  position: relative;
}

.botao {
  background-color: #008000;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
  position: relative; /* Adicione isso */
  top: 20px;
  margin: 105px;
}


.botao:hover {
  background-color: #006400;
}
