<header class="cabecalho">

    <div class="container">

        <img src="../../../assets/image/back.png" alt="Imagem">
        <img class="logo" src="../../../assets/image/logoadvocacia.png" alt="Logo">
        <h3> ADVOCACIA JURÍDICA </h3>
      <h1> Converse agora com <br> um especialista! </h1>
      <a href="#" class="botao">Clique aqui</a>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
